main {
    display: flex;
    flex: wrap;
    justify-content: center;
}

figure {
    background-color: khaki;
}

img {
    border: 10px solid bisque;
}

figcaption {
    text-align: center;
    font-size: xx-large;
    background-color: indianred;
    padding-bottom: .25;
}