*{
    margin: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: aquamarine;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #bf6b92;
    position: fixed;
}

.nav-list{
    display: flex;
    margin-right: 1rem;
    list-style-type: none;
}
.nav-list a {
    display: block;
    padding: 1.5rem;
    font-size: xx-large;
    color: #dddddd;
}

.nav-list a:hover {
    background-color: black;
}

#welcome-section {
    background-image: url("images/clouds.gif");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    margin-bottom: 10 rem;
}

.projects-section-header {
    justify-content: center;
    text-align: center;
    flex-wrap: center;
    display: flex;
    color: #ffffff;
    background-color: rgb(236, 177, 49);
    height: 10vh;
    font-size: xx-large;
    font-weight: lighter;
    text-decoration: #ffffff underline overline;
   vertical-align: middle;
}

.projects-grid {
    padding: 1.5 rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #4688eb;
}

.project-tile {
    margin: 6rem;
}

.box1 {
    background-color: #000;
    color: #fff;
    opacity: .65;
    margin-top: none;
}

figcaption {
    text-align: center;
    font-size: x-large;
    color: #ffffff;
}

#contact-section {
    height: 50 vh;
    background-color: rosybrown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-section h1 {
    font-size: 3.5rem;
    margin-top: 2 rem;
}

#contact-section p {
    font-size: 1rem;
    margin: 1rem;
}

#contact-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: #000000;

}

#contact-section div a {
    font-size: x-large;
    margin-bottom: 5 rem;
    transition: transform 0.3s ease-out;
    color: #000000;
    margin-left: .5rem;
    margin-right: .5rem;
}

#contact-section div a:hover {
    transform: translateY(-8px);
}

footer {
    display: flex;
    justify-content: center;
    padding: 3 rem;
    font-size: .5 rem;
    background-color: slategray;
}

@media (max-width: 75em) {
    section {
        color: #bf6b92;
    }
}

@media (max-width: 60em) {
    section {
        color: #bf6b92;
    }
}