*{
    margin: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
}

.nav {
    margin-left: 1em;
}

section {
    display: flex;
    width: 100%;
    background-color: darkgrey;
}

.box {
    background-color: darkgrey;
    font-size: x-large;
    justify-content: center;
}