*{
    margin: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
}

.nav {
    margin-left: 1em;
}

section {
    display: flex;
    width: 100%;
    background-color: burlywood;
}

.box {
    background-color: peachpuff;
    font-size: x-large;
    justify-content: center;
}

header {
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: skyblue;
    justify-content: center;
}

footer {
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: skyblue;
    font-size: medium;
}
nav {  a:hover {
      color: rgba: 25, 26, 27, 20;
    }
    
}