*{
    margin: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
}

.nav {
    margin-left: 1em;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box {
    background-color: peachpuff;
    font-size: x-large;
    text-align: center;
}

header {
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: skyblue;
    justify-content: center;
}

footer {
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: skyblue;
    font-size: medium;
}

films.length {
    animation: .5s linear 1s infinite alternate slidein;
}
