* {
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure{ 
    margin: 4px;
    text-align: center;
}

figure img{
    width: 200 px;
}