* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(231, 109, 109);
    padding: 2em 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure{ 
    margin: 4px;
    text-align: center;
}

figure img{
    width: 200 px;
}

button {
    font-size: x-large;
    border-radius: 10px;
    background-color: aqua;
}

button:hover {
    background-color: rgba(8, 168, 8, 0.925);
    
}

